pre.stdin {
  /* Don't overscroll when we input long strings of things */
  overflow-x: clip;
}

span.ps1-bracket {
  color: var(--green);
}

span.ps1-username {
  color: var(--purple);
}

span.ps1-at {
  color: var(--blue);
}

span.ps1-domain {
  color: var(--purple);
}

span.ps1-cwd {
  color: var(--yellow);
}

span.ps1-arrow {
  color: var(--cyan);
}

input[type="text"] {
  width: 100%;
  border: none;

  /* Inhereit background and text color, set caret color */
  color: inherit;
  background-color: inherit;
  caret-color: var(--cursor-color);

  /* No silly offsets! */
  margin: 0;
  padding: 0;

  /* Inherit all the font stuff from root */
  font-size: 20px;
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-synthesis: inherit;
  text-rendering: inherit;
}

input[type="text"]:focus {
  /* No text box decoration on the input */
  outline: none;
}
