:root {
  /* TODO: Add light color scheme */

  /* OneDark Color Scheme */
  --background-color: #282C34;
  --selection-background: rgba(255, 255, 255, 0.7);
  --foreground: #DCDFE4;
  --cursor-color: #FFFFFF;
  --black: #282C34;
  --white: #DCDFE4;
  --blue: #61AFEF;
  --cyan: #56B6C2;
  --green: #98C379;
  --purple: #C678DD;
  --red: #E06C75;
  --yellow: #E5C07B;
  --bright-black: #5A6374;
  --bright-white: #DCDFE480;
  --bright-blue: #61AFEF80;
  --bright-cyan: #56B6C280;
  --bright-green: #98C37980;
  --bright-purple: #C678DD80;
  --bright-red: #E06C7580;
  --bright-yellow: #E5C07B80;

  color-scheme: light dark;
  color: var(--foreground);
  background-color: var(--background-color);

  font-family: "Fira Code", monospace;
  font-size: 20px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection { /* Code for Firefox */
  background: var(--selection-background);
}

::selection { /* Code for other */
  background: var(--selection-background);
}

body {
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
  line-height: 1.2;
  caret-color: transparent;
  overflow-wrap: break-word;
}

a {
  font-weight: 500;
  color: var(--red);
  text-decoration: none;

  &:hover {
    color: var(--bright-red);
  }
}

p, pre {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  /* TODO: Swap to light color scheme */

  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}

